<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f5f5f5;
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color:rgb(81, 155, 155);
            padding: 10px 0;
            text-align: center;
            z-index: 1000;
            height: 40px;
            display: flex;
            align-items: center;
        }

        nav a {
            margin-left: 20px;
            margin-right: 20px;
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            color: white;
            background-color: rgb(70, 132, 132);
            border-radius: 5px;
        }

        nav p {
            flex-grow: 1;
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }

        .messages {
            margin-top: 20px;
            padding: 15px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            height: calc(100vh - 160px);
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }

        .message {
            padding: 5px 60px 5px 15px;
            margin-bottom: 15px;
            border-radius: 15px;
            max-width: 70%;
            word-wrap: break-word;
            display: inline-block;
            position: relative;
            font-size: 16px;
            background-color: #f3f4f7;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .message.mine {
            background-color:rgb(138, 210, 210);
            color: white;
            align-self: flex-end;
            border-bottom-right-radius: 0;
        }

        nav a:nth-child(3) {
            color: white;
            background-color: red;  /* Cambiar el fondo a rojo */
        }

        nav a:nth-child(3):hover {
            background-color: rgb(175, 55, 55);  /* Cambiar el color al pasar el ratón */
        }


        .message.other {
            background-color: rgb(81, 155, 155);
            color: white;
            align-self: flex-start;
            border-bottom-left-radius: 0;
        }

        .message-header {
            font-size: 14px;
            font-weight: bold;
            color: rgb(221, 218, 218);
            margin-bottom: 5px;
        }

        .message-time {
            font-size: 12px;
            color: rgb(221, 218, 218);
            margin-left: 10px;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        }

        input[type="text"] {
            padding: 12px;
            font-size: 16px;
            border-radius: 5px;
            border: 2px solid #ccc;
            margin-right: 10px;
            width: 70%;
        }

        button {
            padding: 12px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color:rgb(81, 155, 155);
            color: white;
        }

        button:hover {
            opacity: 0.9;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ path('app_chat_index') }}">Volver</a>
        <p>{{ chat.name }}</p>
         <a href="{{ path('app_chat_exit', {'id': chat.id}) }}" class="btn btn-delete">Salir del chat</a>
    </nav>
    
    <div class="messages" id="messagesContainer">
        {% if messages is not empty %}
            {% for message in messages %}
                <div class="message {% if message.user.username == app.user.username %}mine{% else %}other{% endif %}">
                    <div class="message-header">
                        <strong>{{ message.user.username }}</strong>
                        <span class="message-time">{{ message.date|date("H:i") }}</span>
                    </div>
                    <div class="message-text">
                        <p>{{ message.text }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay mensajes aún.</p>
        {% endif %}
    </div>

    <form action="{{ path('app_message_new', { 'chat_id': chat.id }) }}" method="POST">
        <div class="form-container">
            <input type="text" name="name" placeholder="Escribe aquí" id="input" required>
            <button class="create-chat" type="submit">▶</button>
        </div>
    </form>

    <script>
        window.onload = function() {
            var messagesContainer = document.getElementById('messagesContainer');
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        };
    </script>
</body>
</html>
